{% extends "Aplicacion1/base.html" %}

{% block title %} Servicios {% endblock %}

{% block cabecera %}Servicios{% endblock %}

{% block content %} 


{% for s in servicios %}

<div class="text-bg-dark pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">{{s.titulo}}</h2>
      <p class="lead">{{s.contenido}}</p>
    </div>
    <img style="border-radius: 21px 21px 21px 21px; width: 40%;" src="{{s.imagen.url}}" alt="imagen_{{s.titulo}}">
    
  </div>
  
  
  {% endfor %}
  <div style="height: 50px; background-color: #212529;"></div>


{% endblock %}