{% extends "Aplicacion1/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'Autenticacion/css/auth.css' %}">{% endblock %}
{% block title %} Login {% endblock %}


{% block content %} 


<!-- titulo -->
<div class="container text-center mt-5 text-light">
    <h1>Ingreso</h1>
</div>
<!-- end titulo -->




<!-- mensajes -->
{% if messages %}
    <div class="messages text-center" style="margin-bottom: 2%;">
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}" style="width: 50%; margin: auto;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<!-- end mensajes -->

<!-- form -->
<div class="container w-50 text-center text-light my-5">
    <form action="{% url 'auth_login_user' %}" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <!-- div login button -->
        <div class="d-flex justify-content-center ">
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </div>
        <!-- end div login button -->
    </form>
</div> 
<!-- end form -->

{% endblock %}