{% extends "Aplicacion1/base.html" %}

{% block title %} Blog {% endblock %}

{% block cabecera %}Blog{% endblock %}

{% block content %} 

    

<!-- titulo -->
<div class="container text-center my-3 text-light">
    <h1>Blog</h1>
</div>
<!-- end titulo -->


{% if posts %}

<div class="album py-5">
    <div class="container text-center">
      <!-- fila -->
      <div class="row">
          {% for p in posts %}
              <!-- columna -->
              <div class="col-md-4">
                  <!-- card -->
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header py-3"><h3>{{p.titulo | capfirst}}</h3></div>
                      <!-- img -->
                      <div class="text-center">
                        {% if p.imagen %}
                            <img src="{{p.imagen.url}}" alt="imagen_{{p.titulo}}">
                        {% endif %}
                      </div>
                      <!-- end img -->

                      <!-- card body -->
                      <div class="card-body">
                            <p class="card-text">{% if p.contenido|length <= 50 %}{{p.contenido}}{% else %}{{p.contenido|slice:":50"}}...{% endif %}</p>
                            <p class="card-text">Autor del post: {{p.autor}}</p>
                            <p class="card-text">Autor del post: {{p.categoria}}</p>
                            <p class="card-text">Última actualización: {{p.updated}}</p>
                            					
                      </div>
                      <!-- end card body -->
                  </div>
                  <!-- end card -->
              </div>
              <!-- end columna -->
          {% endfor %}
      </div>
      <!-- end fila -->
  </div>
</div>

<div class="container text-center my-3 bg-light rounded">
    Categorías:    
    {% for c in categorias %}
        <a href="{% url 'categoria' c.id %}">{{ c }}</a>
    {% endfor %}

</div>


{% else %}
    <p>Nada para mostrar aquí...</p>

{% endif %}






{% endblock %}    
